# Sets in Python

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

A set is a defined collection of distinct objects

In Python:

- sets are unordered
- set elements are unique. i.e. no duplicates are allowed
- sets are mutable, however elements in a set must be immutable

### Set instantiation

pass an iterable to the 'set()' built in function

notice how there are duplicate values in the iterable but only 1 ends up in the set.
This is very convenient

In [10]:
set1 = set([1,2,3,4,5,3, "hello"]) # list
set2 = set((2,3,4,5,3, "world")) # tuple
set3 = set("ogopogo")     # string
set1
set2
set3

{1, 2, 3, 4, 5, 'hello'}

{2, 3, 4, 5, 'world'}

{'g', 'o', 'p'}

### Set operations and methods

Sets have unique and useful builtin methods. The same methods have a 'shorthand' method using operators.

> Note: Whereas the methods will typically accept any iterable, the operator will require a set
> Also not every method has an operator that does the same thing. Somtimes there is only a method.

#### Union

- The resulting set contains all of the elements present in both sets. (or all sets if more than 2 sets are specified)

In [12]:
set1 | set2 | set3
set1.union(set2, set3)

{1, 2, 3, 4, 5, 'g', 'hello', 'o', 'p', 'world'}

{1, 2, 3, 4, 5, 'g', 'hello', 'o', 'p', 'world'}

#### Intersection

- The resulting set contains only the elements that are present in both sets

In [13]:
set1 & set2
set1.intersection(set2)

{2, 3, 4, 5}

{2, 3, 4, 5}

#### Difference
- The resulting set contains the elements that are present in the first set and not present in the second
- i.e. start with set 1 and any elements that are also in set 2 "cancel out"

In [14]:
set1 - set2
set1.difference(set2)

{1, 'hello'}

{1, 'hello'}

#### symettric difference
- The resulting set contains all the unique elements of the 2 sets
- i.e. combine both sets and then all elements present in both sets "cancel out"

In [15]:
set1 ^ set2
set1.symmetric_difference(set2)

{1, 'hello', 'world'}

{1, 'hello', 'world'}

### Update methods

> The above 4 methods have "update" versions where the first set is modified in place

> The corresponting operators are the same but just add an equals sign after
- |= , .update()
- &= , .intersection_update()
- -= , .difference_update()
- ^= , .symmetric_difference_update()

### Boolean methods

#### isdisjoint()
- returns True if no elements match between 2 sets, False if there is a common element
 
 There is no operator for this method

In [17]:
set1
set2
set3
set1.isdisjoint(set2)
set1.isdisjoint(set3)

{1, 2, 3, 4, 5, 'hello'}

{2, 3, 4, 5, 'world'}

{'g', 'o', 'p'}

False

True

#### issubset()
- determines if the first set is a subset of the second
- If the sets are the same returns True

In [22]:
{1,2,3}.issubset({1,2})
{1,2,3}<={1,2}

{1,2}.issubset({1,2,3})
{1,2}<={1,2,3}

{1,2,3}.issubset({1,2,3})
{1,2,3}<={1,2,3}

False

False

True

True

True

True

#### is proper subset
- There is no method for this, just use the < operator instead of the <=
- Only difference is that returns False if sets are the same

In [23]:
{1,2} < {1,2,3}
{1,2,3} < {1,2,3}

True

False

> Superset works the same way just with greater than

### More update methods

In [28]:
x = {1,2,3,4}
x.add(5)
x

{1, 2, 3, 4, 5}

In [29]:
x
x.remove(5)
x

{1, 2, 3, 4, 5}

{1, 2, 3, 4}

In [30]:
x
try:
    x.remove(5)
except:
    print("Error because 5 doesn't exist in the set")

{1, 2, 3, 4}

Error because 5 doesn't exist in the set

In [31]:
x
x.discard(5)
x
print("No problem")

{1, 2, 3, 4}

{1, 2, 3, 4}

No problem

In [32]:
x.discard(4)
x

{1, 2, 3}

In [33]:
x.pop() # remove random element
x

1

{2, 3}

In [34]:
x.clear()
x

set()

# Frozen sets

Frozen sets are just immutable sets

Frozen sets are useful when you need an immutable object. e.g. you need to use a set as a dictionary key for some reason

You can use operators on Frozen sets but they return a new object instead of modifying the original