## Optimization exercise

**Goal: Train the 2nd order polynomial predictor using both gradient descent and stochastic gradient descent. Optimize the stepsizes and compare against scikit-learn's implementation.**

1. Download the data from [here](https://drive.google.com/file/d/0Bz9_0VdXvv9bUUNlUTVrMF9VcVU/view?usp=sharing).


2. Create a function psi(x), which transforms features AST (assists), REB (rebounds) and STL (steals) into 2nd order polynomial features (add each feature squared and each pair of features multiplied with every other)


3. Create a transformed data matrix X, where each x is mapped to psi(x).


4. Create a function p2(x,w), which outputs the value of the polynomial at x for given parameters w.


5. Create a function Loss(X,y,w), which computes the squared loss of predicting y from X by p2(x,w) using parameters w. Take variable PTS as y. We will predict scored points based on assists, rebounds and steals.


6. Code up the gradient descent. It should input a point w and a stepsize.


7. Choose an arbitrary point and stepsize. Run gradient descent for 100 iterations and compute the Loss after each iteration. How does the loss behave? Does it converge to something?


8. Can you find the stepsize, for which the loss is smallest after 100 iterations?

In [1]:
# IMPORT PACKAGES
import pandas as pd
import numpy as np

In [2]:
data_path = '/Users/zacharyargentin/Programming/datasets/'
nb = pd.read_csv(data_path+'nba_games_2013_2015.csv', delimiter=';')
X = nb[['AST','REB','STL']]
y = nb['PTS']

In [3]:
X

      AST  REB  STL
0      41   43   14
1      23   43    8
2      20   39    7
3      19   47    6
4      21   43    4
...   ...  ...  ...
7375   17   39   10
7376   26   40   10
7377   23   52    8
7378   23   41   11
7379   17   44    4

[7380 rows x 3 columns]

In [4]:
y

0       144
1        92
2        98
3       101
4       110
       ...
7375     87
7376    107
7377    116
7378     95
7379     97
Name: PTS, Length: 7380, dtype: int64

Create a function psi(x), which transforms features AST (assists), REB (rebounds) and STL (steals) into 2nd order polynomial features (add each feature squared and each pair of features multiplied with every other)

In [35]:
# add polynomial features
def psi(a):
    return np.append(a, (a[0]**2, a[1]**2, a[2]**2, a[0]*a[1], a[0]*a[2], a[1]*a[2]))

In [5]:
from sklearn.preprocessing import PolynomialFeatures

In [6]:
poly = PolynomialFeatures(2)

In [7]:
X2 = pd.DataFrame(poly.fit_transform(X))
X2.head()

     0     1     2     3       4       5      6       7      8      9
0  1.0  41.0  43.0  14.0  1681.0  1763.0  574.0  1849.0  602.0  196.0
1  1.0  23.0  43.0   8.0   529.0   989.0  184.0  1849.0  344.0   64.0
2  1.0  20.0  39.0   7.0   400.0   780.0  140.0  1521.0  273.0   49.0
3  1.0  19.0  47.0   6.0   361.0   893.0  114.0  2209.0  282.0   36.0
4  1.0  21.0  43.0   4.0   441.0   903.0   84.0  1849.0  172.0   16.0

Create a function p2(x,w), which outputs the value of the polynomial at x for given parameters w.

In [53]:
# compute predicted value
def p2(x,w):
    return np.dot(x,w)

In [51]:
a = X2.iloc[0]
w = np.random.random(size=10)
print(a)
print(w)

0       1.0
1      41.0
2      43.0
3      14.0
4    1681.0
5    1763.0
6     574.0
7    1849.0
8     602.0
9     196.0
Name: 0, dtype: float64
[0.00773425 0.47194791 0.63590297 0.27581512 0.15867213 0.1439397
 0.84930601 0.20613109 0.76917386 0.5605623 ]

In [52]:
np.dot(a, w)

2012.6072815575235

Create a function Loss(X,y,w), which computes the squared loss of predicting y from X by p2(x,w) using parameters w. Take variable PTS as y. We will predict scored points based on assists, rebounds and steals.

In [54]:
def Loss(X, y, w):
    pass

In [73]:
# compute poly feats
X.apply(psi, axis=1)

0       [41, 43, 14, 1681, 1849, 196, 1763, 574, 602]
1           [23, 43, 8, 529, 1849, 64, 989, 184, 344]
2           [20, 39, 7, 400, 1521, 49, 780, 140, 273]
3           [19, 47, 6, 361, 2209, 36, 893, 114, 282]
4            [21, 43, 4, 441, 1849, 16, 903, 84, 172]
                            ...
7375      [17, 39, 10, 289, 1521, 100, 663, 170, 390]
7376     [26, 40, 10, 676, 1600, 100, 1040, 260, 400]
7377       [23, 52, 8, 529, 2704, 64, 1196, 184, 416]
7378      [23, 41, 11, 529, 1681, 121, 943, 253, 451]
7379         [17, 44, 4, 289, 1936, 16, 748, 68, 176]
Length: 7380, dtype: object

In [88]:
# compute poly feats, compute predicted value
X.apply(psi, axis=1).apply(p2, w=w)

0       3005.543254
1       1374.679602
2       1080.698981
3       1171.515987
4       1147.630371
           ...
7375    1000.011511
7376    1559.434756
7377    1596.520932
7378    1422.880180
7379     952.454211
Length: 7380, dtype: float64

In [90]:
# compute poly feats, compute predicted value, compute squared residual
(y - X.apply(psi, axis=1).apply(p2, w=w)) ** 2

0       8.188430e+06
1       1.645267e+06
2       9.656973e+05
3       1.146004e+06
4       1.076677e+06
            ...
7375    8.335900e+05
7376    2.109567e+06
7377    2.191942e+06
7378    1.763266e+06
7379    7.318019e+05
Length: 7380, dtype: float64

In [60]:
(y[0] - np.dot(a,w)) ** 2

3491693.172689798

In [91]:
error = (y[0] - X2.iloc[0].sum()) ** 2
error

43824400.0

In [93]:
n_datapoints = y.size

In [95]:
derivative = 1/(2*n_datapoints) * error
derivative

2969.1327913279133

Code up the gradient descent. It should input a point w and a stepsize.

In [ ]:
def gradient_descent(w, stepsize):