# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [1]:
empty_set = set()
print(empty_set)

set()

* create a non empty set
* print that set

In [2]:
set1 = set((1,2,3,4,3))
print(set1)

{1, 2, 3, 4}

* iterate over the set and print results

In [4]:
for num in set1:
    print(num)

1
2
3
4

* add one item to the set

In [5]:
set1.add(5)
set1

{1, 2, 3, 4, 5}

* add multiple items to the set

In [11]:
set1.update((6,7))
set1

{1, 2, 3, 4, 5, 6, 7}

* remove an item from a set if it is present in the set

In [14]:
set1.discard(7)
set1

{1, 2, 3, 4, 5, 6}

* find maximum and minimum values of the set

In [15]:
min(set1)

1

In [16]:
max(set1)

6

* print the length of the set

In [17]:
len(set1)

6

* create an intersection of x and y

In [18]:
x = {1,2,3,4}
y = {3,4,5,6}

In [19]:
x.intersection(y)

{3, 4}

In [20]:
x & y

{3, 4}

* create an union of x and y

In [21]:
x.union(y)

{1, 2, 3, 4, 5, 6}

In [22]:
x | y

{1, 2, 3, 4, 5, 6}

* create difference between x and y

In [23]:
x.difference(y)

{1, 2}

In [24]:
x - y

{1, 2}

---------------
## Collections

In [25]:
from collections import Counter

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [29]:
sentence = "black cat jumped over white cat"
words = Counter(sentence.split())

In [30]:
words

Counter({'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [32]:
words.most_common()

[('cat', 2), ('black', 1), ('jumped', 1), ('over', 1), ('white', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [34]:
from collections import defaultdict

In [35]:
dfltdct = defaultdict(int)
for word in words:
    dfltdct[word] += 1
    
dfltdct

defaultdict(int, {'black': 1, 'cat': 1, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [37]:
from collections import deque

In [38]:
dq = deque([1,2,3,4,5])

* append number 10 to deque

In [39]:
dq.append(10)
dq

deque([1, 2, 3, 4, 5, 10])

* remove element from the right end from deque

In [41]:
dq.pop()
dq

deque([1, 2, 3, 4, 5])

* remove element from the left end from deque

In [42]:
dq.popleft()
dq

deque([2, 3, 4, 5])

* delete all elements from deque

In [43]:
dq.clear()
dq

deque([])

* create named tuple (people) with name and surname as position names

In [44]:
from collections import namedtuple

In [54]:
person = namedtuple("person", "name surname")

* print name and surname

In [55]:
person1 = person("Zach", "Argentin")

In [56]:
person1.name

'Zach'

In [57]:
person1.surname

'Argentin'

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [64]:
list1 = ["Zach", 3, "Meikaela", 4]

In [67]:
# testing
for element in enumerate(list1):
    print(element)

(0, 'Zach')
(1, 3)
(2, 'Meikaela')
(3, 4)

In [68]:
for i, element in enumerate(list1):
    try:
        list1[i] = list1[i].upper()
    except AttributeError:
        pass

In [69]:
list1

['ZACH', 3, 'MEIKAELA', 4]

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [80]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    try:
        print(f"Luke, I am your {_dict[text]}")
    except KeyError:
              print(f"{text} is not in the relation with Luke")

#### Task I
Fix errors in the function above so we can run following code

In [81]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [82]:
relation_to_luke("aaaa")

aaaa is not in the relation with Luke