### NLP Representations Exercise

In [10]:
# import pandas
import pandas as pd
import numpy as np

# import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
 
# import TfidfTransformer 
from sklearn.feature_extraction.text import TfidfTransformer

# import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
docs=["the house had a tiny little mouse",
      "the cat saw the mouse",
      "the mouse ran away from the house",
      "the cat finally ate the mouse",
      "the end of the mouse story"
     ]

# BagOfWords

* instantiate [CountVectorizer()](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html)

In [4]:
cv = CountVectorizer()

* use fit_transform method of CountVectorizer to 'docs' and store the result in 'word_count_vector'

In [5]:
word_count_vector = cv.fit_transform(docs)

* print the shape

In [6]:
word_count_vector.shape

(5, 16)

In [13]:
type(word_count_vector)

scipy.sparse.csr.csr_matrix

* create dataframe from word_count_vector

In [14]:
bagofwords = pd.DataFrame.sparse.from_spmatrix(word_count_vector)

In [15]:
bagofwords

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   0   0   0   0   0   0   1   1   1   1   0   0   0   0   1   1
1   0   0   1   0   0   0   0   0   0   1   0   0   1   0   2   0
2   0   1   0   0   0   1   0   1   0   1   0   1   0   0   2   0
3   1   0   1   0   1   0   0   0   0   1   0   0   0   0   2   0
4   0   0   0   1   0   0   0   0   0   1   1   0   0   1   2   0

# TfIdf with TfidfTransformer

* instantiate [TfidfTransformer()](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html) with the following parameters: 
    * smooth_idf = True
    * use_idf = True

In [17]:
tf_idf_t = TfidfTransformer(smooth_idf=True, use_idf=True)

* use fit_transform method of tfidf transformer on 'word_count_vector' created above and store the result in 'tf_idf_data'

In [19]:
tf_idf_data = tf_idf_t.fit_transform(word_count_vector)

* create dataframe from 'tf_idf_data'

In [20]:
tf_idf_t_df = pd.DataFrame.sparse.from_spmatrix(tf_idf_data)

* print the IDF for words in 'docs'

In [21]:
tf_idf_t_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
1,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

So this transforms bag of words to tfidf

# TfIdf with TfidfVectorizer

* instantiate [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) with the following parameters:
    - use_idf = True

In [22]:
tf_idf_v = TfidfVectorizer(use_idf=True)

* fit and transforn 'docs' with TfidfVectorizer and store the result in 'tfidf_vectorizer_data'

In [23]:
tfidf_vectorizer_data = tf_idf_v.fit_transform(docs)

* create dataframe from tfidf_vectorizer_data

In [24]:
tf_idf_v_df = pd.DataFrame.sparse.from_spmatrix(tfidf_vectorizer_data)

* print IDF for words in 'docs'

In [25]:
tf_idf_v_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
1,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

and this gets the idf directly from the corpus