## Hypothesis Testing Assignment

In [1]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

In [7]:
pd.set_option('display.max_columns', None)

In [26]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Data

You can download the data from [**here**](https://drive.google.com/file/d/19b9lHlkixZhs8yka8zV0QFieao66dUcY/view?usp=sharing). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

In [5]:
nba_games = pd.read_csv("nba_games.csv", sep=";")

In [8]:
nba_games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,56,86,0.651,13,28,0.464,19,23,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,37,87,0.425,7,23,0.304,11,13,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,37,86,0.430,5,14,0.357,19,22,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,41,85,0.482,6,25,0.240,13,15,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,46,97,0.474,7,18,0.389,11,15,0.733,8,35,43,21,4,7,10,23,-2.0

--------------
### Task 1
Split the data into **3** separate dataframes for each NBA season!

In [9]:
nba_games_2013 = nba_games[nba_games["SEASON_ID"].eq(22013)]
nba_games_2014 = nba_games[nba_games["SEASON_ID"].eq(22014)]
nba_games_2015 = nba_games[nba_games["SEASON_ID"].eq(22015)]

In [10]:
nba_games_2013.head(3)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
4920,22013,1610612742,DAL,Dallas Mavericks,21301216,2014-04-16,DAL @ MEM,L,265,105,44,92,0.478,8,30,0.267,9,11,0.818,15,24,39,22,11,4,13,23,-1.0
4921,22013,1610612743,DEN,Denver Nuggets,21301230,2014-04-16,DEN vs. GSW,L,241,112,37,84,0.440,9,34,0.265,29,35,0.829,9,33,42,23,4,4,19,28,-4.0
4922,22013,1610612762,UTA,Utah Jazz,21301218,2014-04-16,UTA @ MIN,W,291,136,53,108,0.491,6,24,0.250,24,29,0.828,22,38,60,30,10,9,18,34,6.0

In [11]:
nba_games_2014.head(3)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
2460,22014,1610612760,OKC,Oklahoma City Thunder,21401222,2015-04-15,OKC @ MIN,W,241,138,52,95,0.547,12,28,0.429,22,31,0.710,18,28,46,22,10,6,13,25,25.0
2461,22014,1610612765,DET,Detroit Pistons,21401226,2015-04-15,DET @ NYK,W,240,112,41,81,0.506,10,26,0.385,20,27,0.741,11,33,44,20,14,3,12,22,22.0
2462,22014,1610612766,CHA,Charlotte Hornets,21401228,2015-04-15,CHA @ TOR,L,240,87,30,71,0.423,12,33,0.364,15,16,0.938,8,28,36,15,8,3,12,10,-5.0

In [12]:
nba_games_2015.head(3)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,56,86,0.651,13,28,0.464,19,23,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,37,87,0.425,7,23,0.304,11,13,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,37,86,0.430,5,14,0.357,19,22,0.864,10,29,39,20,7,3,7,20,10.0

---------------
# Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

In [21]:
cle_games_2015 = nba_games_2015[nba_games["TEAM_ABBREVIATION"].eq("CLE")]
gsw_games_2015 = nba_games_2015[nba_games["TEAM_ABBREVIATION"].eq("GSW")]

<ipython-input-21-0ef7c4e1b637>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cle_games_2015 = nba_games_2015[nba_games["TEAM_ABBREVIATION"].eq("CLE")]
<ipython-input-21-0ef7c4e1b637>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  gsw_games_2015 = nba_games_2015[nba_games["TEAM_ABBREVIATION"].eq("GSW")]

### Using scipy.stats.ttest_ind()

In [39]:
# Passing either a pandas series or numpy array to st.ttests_ind() yields the same results
cle_games_2015["PTS"]
cle_games_2015["PTS"].values

4       110
40      109
78      102
127     109
151     109
       ...
2336     96
2364    107
2399    102
2440    106
2456     95
Name: PTS, Length: 82, dtype: int64

array([110, 109, 102, 109, 109, 112, 110, 107, 100, 107,  95, 113, 124,
       101, 109,  99,  85, 114, 120, 120, 103, 120, 108, 100,  99,  97,
       114,  88, 115, 106, 120, 120,  99, 103,  97, 111, 117, 114, 115,
       114,  83, 115,  91,  98,  91,  95, 110,  95, 125, 121, 122, 104,
        93, 101,  76,  83,  91, 108, 104,  89, 111, 105,  84, 108,  85,
        90,  95,  99, 117, 109, 115,  99, 105,  90, 118, 101, 108,  96,
       107, 102, 106,  95])

In [40]:
st.ttest_ind(cle_games_2015["PTS"], gsw_games_2015["PTS"])
st.ttest_ind(cle_games_2015["PTS"].values, gsw_games_2015["PTS"].values)

Ttest_indResult(statistic=-5.973920595717936, pvalue=1.4233420547764935e-08)

Ttest_indResult(statistic=-5.973920595717936, pvalue=1.4233420547764935e-08)

In [41]:
st.ttest_ind(cle_games_2015["FG_PCT"], gsw_games_2015["FG_PCT"])

Ttest_indResult(statistic=-3.13195297595825, pvalue=0.00206097581047554)

P value is super low for both points and field goal percentage. Therefore we can reject the null hypothesis.
The offensive stats are NOT from the same distribution.

### Using scipy.stats.ttest_ind_from_stats()

same results as above except we pass descriptive statistics values instead of the raw data

In [29]:
cle_games_2015["PTS"].mean()
gsw_games_2015["PTS"].mean()

cle_games_2015["PTS"].std()
gsw_games_2015["PTS"].std()

cle_games_2015["PTS"].size
gsw_games_2015["PTS"].size

104.32926829268293

114.89024390243902

11.002867054027869

11.627984653424297

82

82

In [30]:
cle_games_2015["FG_PCT"].mean()
gsw_games_2015["FG_PCT"].mean()

cle_games_2015["FG_PCT"].std()
gsw_games_2015["FG_PCT"].std()

cle_games_2015["FG_PCT"].size
gsw_games_2015["FG_PCT"].size

0.46195121951219514

0.4884756097560975

0.05627575458445658

0.05209943617375919

82

82

In [42]:
st.ttest_ind_from_stats(cle_games_2015["PTS"].mean(),
                        cle_games_2015["PTS"].std(),
                        cle_games_2015["PTS"].size,
                        gsw_games_2015["PTS"].mean(),
                        gsw_games_2015["PTS"].std(),
                        gsw_games_2015["PTS"].size)

Ttest_indResult(statistic=-5.973920595717936, pvalue=1.4233420547764935e-08)

### Using ttest_rel()

Note: I don't think this is the right test to you, as I believe the samples are independent and NOT dependent. but i'm just seeing what happens

In [44]:
st.ttest_rel(cle_games_2015["PTS"], gsw_games_2015["PTS"])
st.ttest_rel(cle_games_2015["FG_PCT"], gsw_games_2015["FG_PCT"])

Ttest_relResult(statistic=-5.738507322486784, pvalue=1.5979180808066654e-07)

Ttest_relResult(statistic=-3.166125047038451, pvalue=0.0021777781145323398)

In this case it looks likes results are very similar to `ttest_ind()`

### Help info that I used for the above task

In [13]:
dir(st)

['F_onewayBadInputSizesWarning',
 'F_onewayConstantInputWarning',
 'PearsonRConstantInputWarning',
 'PearsonRNearConstantInputWarning',
 'SpearmanRConstantInputWarning',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_binned_statistic',
 '_constants',
 '_continuous_distns',
 '_discrete_distns',
 '_distn_infrastructure',
 '_distr_params',
 '_hypotests',
 '_ksstats',
 '_multivariate',
 '_rvs_sampling',
 '_stats',
 '_stats_mstats_common',
 '_tukeylambda_stats',
 '_wilcoxon_data',
 'alpha',
 'anderson',
 'anderson_ksamp',
 'anglit',
 'ansari',
 'arcsine',
 'argus',
 'bartlett',
 'bayes_mvs',
 'bernoulli',
 'beta',
 'betabinom',
 'betaprime',
 'binned_statistic',
 'binned_statistic_2d',
 'binned_statistic_dd',
 'binom',
 'binom_test',
 'boltzmann',
 'boxcox',
 'boxcox_llf',
 'boxcox_normmax',
 'boxcox_normplot',
 'bradford',
 'brunnermunzel',
 'burr',
 'burr12',
 'cauchy',
 'chi',
 'chi2',
 'chi2_contingency',
 'chisquare',
 'circmean',
 'circstd',
 'circvar',
 'combine_pvalues',
 'contingency',
 'cosine',
 'cramervonmises',
 'crystalball',
 'cumfreq',
 'describe',
 'dgamma',
 'dirichlet',
 'distributions',
 'dlaplace',
 'dweibull',
 'energy_distance',
 'entropy',
 'epps_singleton_2samp',
 'erlang',
 'expon',
 'exponnorm',
 'exponpow',
 'exponweib',
 'f',
 'f_oneway',
 'fatiguelife',
 'find_repeats',
 'fisher_exact',
 'fisk',
 'fligner',
 'foldcauchy',
 'foldnorm',
 'friedmanchisquare',
 'gamma',
 'gausshyper',
 'gaussian_kde',
 'genexpon',
 'genextreme',
 'gengamma',
 'genhalflogistic',
 'geninvgauss',
 'genlogistic',
 'gennorm',
 'genpareto',
 'geom',
 'gilbrat',
 'gmean',
 'gompertz',
 'gstd',
 'gumbel_l',
 'gumbel_r',
 'halfcauchy',
 'halfgennorm',
 'halflogistic',
 'halfnorm',
 'hmean',
 'hypergeom',
 'hypsecant',
 'invgamma',
 'invgauss',
 'invweibull',
 'invwishart',
 'iqr',
 'itemfreq',
 'jarque_bera',
 'johnsonsb',
 'johnsonsu',
 'kappa3',
 'kappa4',
 'kde',
 'kendalltau',
 'kruskal',
 'ks_1samp',
 'ks_2samp',
 'ksone',
 'kstat',
 'kstatvar',
 'kstest',
 'kstwo',
 'kstwobign',
 'kurtosis',
 'kurtosistest',
 'laplace',
 'laplace_asymmetric',
 'levene',
 'levy',
 'levy_l',
 'levy_stable',
 'linregress',
 'loggamma',
 'logistic',
 'loglaplace',
 'lognorm',
 'logser',
 'loguniform',
 'lomax',
 'mannwhitneyu',
 'matrix_normal',
 'maxwell',
 'median_abs_deviation',
 'median_absolute_deviation',
 'median_test',
 'mielke',
 'mode',
 'moment',
 'mood',
 'morestats',
 'moyal',
 'mstats',
 'mstats_basic',
 'mstats_extras',
 'multinomial',
 'multiscale_graphcorr',
 'multivariate_hypergeom',
 'multivariate_normal',
 'multivariate_t',
 'mvn',
 'mvsdist',
 'nakagami',
 'nbinom',
 'ncf',
 'nct',
 'ncx2',
 'nhypergeom',
 'norm',
 'normaltest',
 'norminvgauss',
 'obrientransform',
 'ortho_group',
 'pareto',
 'pearson3',
 'pearsonr',
 'percentileofscore',
 'planck',
 'pointbiserialr',
 'poisson',
 'power_divergence',
 'powerlaw',
 'powerlognorm',
 'powernorm',
 'ppcc_max',
 'ppcc_plot',
 'probplot',
 'randint',
 'random_correlation',
 'rankdata',
 'ranksums',
 'rayleigh',
 'rdist',
 'recipinvgauss',
 'reciprocal',
 'relfreq',
 'rice',
 'rv_continuous',
 'rv_discrete',
 'rv_histogram',
 'rvs_ratio_uniforms',
 'scoreatpercentile',
 'sem',
 'semicircular',
 'shapiro',
 'siegelslopes',
 'sigmaclip',
 'skellam',
 'skew',
 'skewnorm',
 'skewtest',
 'spearmanr',
 'special_ortho_group',
 'statlib',
 'stats',
 't',
 'test',
 'theilslopes',
 'tiecorrect',
 'tmax',
 'tmean',
 'tmin',
 'trapezoid',
 'trapz',
 'triang',
 'trim1',
 'trim_mean',
 'trimboth',
 'truncexpon',
 'truncnorm',
 'tsem',
 'tstd',
 'ttest_1samp',
 'ttest_ind',
 'ttest_ind_from_stats',
 'ttest_rel',
 'tukeylambda',
 'tvar',
 'uniform',
 'unitary_group',
 'variation',
 'vonmises',
 'vonmises_line',
 'wald',
 'wasserstein_distance',
 'weibull_max',
 'weibull_min',
 'weightedtau',
 'wilcoxon',
 'wishart',
 'wrapcauchy',
 'yeojohnson',
 'yeojohnson_llf',
 'yeojohnson_normmax',
 'yeojohnson_normplot',
 'yulesimon',
 'zipf',
 'zmap',
 'zscore']

In [ ]:
 'ttest_1samp',
 'ttest_ind',
 'ttest_ind_from_stats',
 'ttest_rel'

In [14]:
help(st.ttest_1samp)

Help on function ttest_1samp in module scipy.stats.stats:

ttest_1samp(a, popmean, axis=0, nan_policy='propagate', alternative='two-sided')
    Calculate the T-test for the mean of ONE group of scores.

    This is a two-sided test for the null hypothesis that the expected value
    (mean) of a sample of independent observations `a` is equal to the given
    population mean, `popmean`.

    Parameters
    ----------
    a : array_like
        Sample observation.
    popmean : float or array_like
        Expected value in null hypothesis. If array_like, then it must have the
        same shape as `a` excluding the axis dimension.
    axis : int or None, optional
        Axis along which to compute test; default is 0. If None, compute over
        the whole array `a`.
    nan_policy : {'propagate', 'raise', 'omit'}, optional
        Defines how to handle when input contains nan.
        The following options are available (default is 'propagate'):

          * 'propagate': returns nan
          * 'raise': throws an error
          * 'omit': performs the calculations ignoring nan values
    alternative : {'two-sided', 'less', 'greater'}, optional
        Defines the alternative hypothesis.
        The following options are available (default is 'two-sided'):

          * 'two-sided'
          * 'less': one-sided
          * 'greater': one-sided

        .. versionadded:: 1.6.0

    Returns
    -------
    statistic : float or array
        t-statistic.
    pvalue : float or array
        Two-sided p-value.

    Examples
    --------
    >>> from scipy import stats

    >>> np.random.seed(7654567)  # fix seed to get the same result
    >>> rvs = stats.norm.rvs(loc=5, scale=10, size=(50,2))

    Test if mean of random sample is equal to true mean, and different mean.
    We reject the null hypothesis in the second case and don't reject it in
    the first case.

    >>> stats.ttest_1samp(rvs,5.0)
    (array([-0.68014479, -0.04323899]), array([ 0.49961383,  0.96568674]))
    >>> stats.ttest_1samp(rvs,0.0)
    (array([ 2.77025808,  4.11038784]), array([ 0.00789095,  0.00014999]))

    Examples using axis and non-scalar dimension for population mean.

    >>> result = stats.ttest_1samp(rvs, [5.0, 0.0])
    >>> result.statistic
    array([-0.68014479,  4.11038784]),
    >>> result.pvalue
    array([4.99613833e-01, 1.49986458e-04])

    >>> result = stats.ttest_1samp(rvs.T, [5.0, 0.0], axis=1)
    >>> result.statistic
    array([-0.68014479,  4.11038784])
    >>> result.pvalue
    array([4.99613833e-01, 1.49986458e-04])

    >>> result = stats.ttest_1samp(rvs, [[5.0], [0.0]])
    >>> result.statistic
    array([[-0.68014479, -0.04323899],
           [ 2.77025808,  4.11038784]])
    >>> result.pvalue
    array([[4.99613833e-01, 9.65686743e-01],
           [7.89094663e-03, 1.49986458e-04]])

In [16]:
help(st.ttest_ind_from_stats)

Help on function ttest_ind_from_stats in module scipy.stats.stats:

ttest_ind_from_stats(mean1, std1, nobs1, mean2, std2, nobs2, equal_var=True, alternative='two-sided')
    T-test for means of two independent samples from descriptive statistics.

    This is a two-sided test for the null hypothesis that two independent
    samples have identical average (expected) values.

    Parameters
    ----------
    mean1 : array_like
        The mean(s) of sample 1.
    std1 : array_like
        The standard deviation(s) of sample 1.
    nobs1 : array_like
        The number(s) of observations of sample 1.
    mean2 : array_like
        The mean(s) of sample 2.
    std2 : array_like
        The standard deviations(s) of sample 2.
    nobs2 : array_like
        The number(s) of observations of sample 2.
    equal_var : bool, optional
        If True (default), perform a standard independent 2 sample test
        that assumes equal population variances [1]_.
        If False, perform Welch's t-test, which does not assume equal
        population variance [2]_.
    alternative : {'two-sided', 'less', 'greater'}, optional
        Defines the alternative hypothesis.
        The following options are available (default is 'two-sided'):

          * 'two-sided'
          * 'less': one-sided
          * 'greater': one-sided

        .. versionadded:: 1.6.0

    Returns
    -------
    statistic : float or array
        The calculated t-statistics.
    pvalue : float or array
        The two-tailed p-value.

    See Also
    --------
    scipy.stats.ttest_ind

    Notes
    -----
    .. versionadded:: 0.16.0

    References
    ----------
    .. [1] https://en.wikipedia.org/wiki/T-test#Independent_two-sample_t-test

    .. [2] https://en.wikipedia.org/wiki/Welch%27s_t-test

    Examples
    --------
    Suppose we have the summary data for two samples, as follows::

                         Sample   Sample
                   Size   Mean   Variance
        Sample 1    13    15.0     87.5
        Sample 2    11    12.0     39.0

    Apply the t-test to this data (with the assumption that the population
    variances are equal):

    >>> from scipy.stats import ttest_ind_from_stats
    >>> ttest_ind_from_stats(mean1=15.0, std1=np.sqrt(87.5), nobs1=13,
    ...                      mean2=12.0, std2=np.sqrt(39.0), nobs2=11)
    Ttest_indResult(statistic=0.9051358093310269, pvalue=0.3751996797581487)

    For comparison, here is the data from which those summary statistics
    were taken.  With this data, we can compute the same result using
    `scipy.stats.ttest_ind`:

    >>> a = np.array([1, 3, 4, 6, 11, 13, 15, 19, 22, 24, 25, 26, 26])
    >>> b = np.array([2, 4, 6, 9, 11, 13, 14, 15, 18, 19, 21])
    >>> from scipy.stats import ttest_ind
    >>> ttest_ind(a, b)
    Ttest_indResult(statistic=0.905135809331027, pvalue=0.3751996797581486)

    Suppose we instead have binary data and would like to apply a t-test to
    compare the proportion of 1s in two independent groups::

                          Number of    Sample     Sample
                    Size    ones        Mean     Variance
        Sample 1    150      30         0.2        0.16
        Sample 2    200      45         0.225      0.174375

    The sample mean :math:`\hat{p}` is the proportion of ones in the sample
    and the variance for a binary observation is estimated by
    :math:`\hat{p}(1-\hat{p})`.

    >>> ttest_ind_from_stats(mean1=0.2, std1=np.sqrt(0.16), nobs1=150,
    ...                      mean2=0.225, std2=np.sqrt(0.17437), nobs2=200)
    Ttest_indResult(statistic=-0.564327545549774, pvalue=0.5728947691244874)

    For comparison, we could compute the t statistic and p-value using
    arrays of 0s and 1s and `scipy.stat.ttest_ind`, as above.

    >>> group1 = np.array([1]*30 + [0]*(150-30))
    >>> group2 = np.array([1]*45 + [0]*(200-45))
    >>> ttest_ind(group1, group2)
    Ttest_indResult(statistic=-0.5627179589855622, pvalue=0.573989277115258)

In [15]:
help(st.ttest_ind)

Help on function ttest_ind in module scipy.stats.stats:

ttest_ind(a, b, axis=0, equal_var=True, nan_policy='propagate', alternative='two-sided')
    Calculate the T-test for the means of *two independent* samples of scores.

    This is a two-sided test for the null hypothesis that 2 independent samples
    have identical average (expected) values. This test assumes that the
    populations have identical variances by default.

    Parameters
    ----------
    a, b : array_like
        The arrays must have the same shape, except in the dimension
        corresponding to `axis` (the first, by default).
    axis : int or None, optional
        Axis along which to compute test. If None, compute over the whole
        arrays, `a`, and `b`.
    equal_var : bool, optional
        If True (default), perform a standard independent 2 sample test
        that assumes equal population variances [1]_.
        If False, perform Welch's t-test, which does not assume equal
        population variance [2]_.

        .. versionadded:: 0.11.0
    nan_policy : {'propagate', 'raise', 'omit'}, optional
        Defines how to handle when input contains nan.
        The following options are available (default is 'propagate'):

          * 'propagate': returns nan
          * 'raise': throws an error
          * 'omit': performs the calculations ignoring nan values
    alternative : {'two-sided', 'less', 'greater'}, optional
        Defines the alternative hypothesis.
        The following options are available (default is 'two-sided'):

          * 'two-sided'
          * 'less': one-sided
          * 'greater': one-sided

        .. versionadded:: 1.6.0

    Returns
    -------
    statistic : float or array
        The calculated t-statistic.
    pvalue : float or array
        The two-tailed p-value.

    Notes
    -----
    We can use this test, if we observe two independent samples from
    the same or different population, e.g. exam scores of boys and
    girls or of two ethnic groups. The test measures whether the
    average (expected) value differs significantly across samples. If
    we observe a large p-value, for example larger than 0.05 or 0.1,
    then we cannot reject the null hypothesis of identical average scores.
    If the p-value is smaller than the threshold, e.g. 1%, 5% or 10%,
    then we reject the null hypothesis of equal averages.

    References
    ----------
    .. [1] https://en.wikipedia.org/wiki/T-test#Independent_two-sample_t-test

    .. [2] https://en.wikipedia.org/wiki/Welch%27s_t-test

    Examples
    --------
    >>> from scipy import stats
    >>> np.random.seed(12345678)

    Test with sample with identical means:

    >>> rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
    >>> rvs2 = stats.norm.rvs(loc=5,scale=10,size=500)
    >>> stats.ttest_ind(rvs1,rvs2)
    (0.26833823296239279, 0.78849443369564776)
    >>> stats.ttest_ind(rvs1,rvs2, equal_var = False)
    (0.26833823296239279, 0.78849452749500748)

    `ttest_ind` underestimates p for unequal variances:

    >>> rvs3 = stats.norm.rvs(loc=5, scale=20, size=500)
    >>> stats.ttest_ind(rvs1, rvs3)
    (-0.46580283298287162, 0.64145827413436174)
    >>> stats.ttest_ind(rvs1, rvs3, equal_var = False)
    (-0.46580283298287162, 0.64149646246569292)

    When n1 != n2, the equal variance t-statistic is no longer equal to the
    unequal variance t-statistic:

    >>> rvs4 = stats.norm.rvs(loc=5, scale=20, size=100)
    >>> stats.ttest_ind(rvs1, rvs4)
    (-0.99882539442782481, 0.3182832709103896)
    >>> stats.ttest_ind(rvs1, rvs4, equal_var = False)
    (-0.69712570584654099, 0.48716927725402048)

    T-test with different means, variance, and n:

    >>> rvs5 = stats.norm.rvs(loc=8, scale=20, size=100)
    >>> stats.ttest_ind(rvs1, rvs5)
    (-1.4679669854490653, 0.14263895620529152)
    >>> stats.ttest_ind(rvs1, rvs5, equal_var = False)
    (-0.94365973617132992, 0.34744170334794122)

In [18]:
help(st.ttest_rel)

Help on function ttest_rel in module scipy.stats.stats:

ttest_rel(a, b, axis=0, nan_policy='propagate', alternative='two-sided')
    Calculate the t-test on TWO RELATED samples of scores, a and b.

    This is a two-sided test for the null hypothesis that 2 related or
    repeated samples have identical average (expected) values.

    Parameters
    ----------
    a, b : array_like
        The arrays must have the same shape.
    axis : int or None, optional
        Axis along which to compute test. If None, compute over the whole
        arrays, `a`, and `b`.
    nan_policy : {'propagate', 'raise', 'omit'}, optional
        Defines how to handle when input contains nan.
        The following options are available (default is 'propagate'):

          * 'propagate': returns nan
          * 'raise': throws an error
          * 'omit': performs the calculations ignoring nan values
    alternative : {'two-sided', 'less', 'greater'}, optional
        Defines the alternative hypothesis.
        The following options are available (default is 'two-sided'):

          * 'two-sided'
          * 'less': one-sided
          * 'greater': one-sided

          .. versionadded:: 1.6.0

    Returns
    -------
    statistic : float or array
        t-statistic.
    pvalue : float or array
        Two-sided p-value.

    Notes
    -----
    Examples for use are scores of the same set of student in
    different exams, or repeated sampling from the same units. The
    test measures whether the average score differs significantly
    across samples (e.g. exams). If we observe a large p-value, for
    example greater than 0.05 or 0.1 then we cannot reject the null
    hypothesis of identical average scores. If the p-value is smaller
    than the threshold, e.g. 1%, 5% or 10%, then we reject the null
    hypothesis of equal averages. Small p-values are associated with
    large t-statistics.

    References
    ----------
    https://en.wikipedia.org/wiki/T-test#Dependent_t-test_for_paired_samples

    Examples
    --------
    >>> from scipy import stats
    >>> np.random.seed(12345678) # fix random seed to get same numbers

    >>> rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
    >>> rvs2 = (stats.norm.rvs(loc=5,scale=10,size=500) +
    ...         stats.norm.rvs(scale=0.2,size=500))
    >>> stats.ttest_rel(rvs1,rvs2)
    (0.24101764965300962, 0.80964043445811562)
    >>> rvs3 = (stats.norm.rvs(loc=8,scale=10,size=500) +
    ...         stats.norm.rvs(scale=0.2,size=500))
    >>> stats.ttest_rel(rvs1,rvs3)
    (-3.9995108708727933, 7.3082402191726459e-005)

-----------------
# Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [50]:
help("2013".dt)

AttributeError: 'str' object has no attribute 'dt'

In [53]:
blatt_fire_date = pd.Timestamp(year=2016, month=1, day=24)

In [61]:
cle_games_2014_2015 = nba_games[nba_games["TEAM_ABBREVIATION"].eq("CLE") & nba_games["SEASON_ID"].isin([22014,22015])]
cle_games_2014_2015 = cle_games_2014_2015.astype({"GAME_DATE": "datetime64"})

blatt_games = cle_games_2014_2015[cle_games_2014_2015["GAME_DATE"].lt(blatt_fire_date)]
non_blatt_games = cle_games_2014_2015[cle_games_2014_2015["GAME_DATE"].gt(blatt_fire_date)]

In [72]:
blatt_games.shape[0]
non_blatt_games.shape[0]

124

40

In [75]:
# Equal var set to false performs a welchs t-test which works better with samples of different sizes
st.ttest_ind(blatt_games["PTS"], non_blatt_games["PTS"], equal_var=False)

Ttest_indResult(statistic=-3.020359501985649, pvalue=0.003290500194598496)

Low p-value. Null hypothesis (points scored did not change) rejected.   
Points scored by Clevland DID change after coach blatt was fired

In [76]:
blatt_games["PTS"].mean()
non_blatt_games["PTS"].mean()

102.39516129032258

107.875

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/1jY57bAOZp9y83b4W2PAoSH1uFARaxxls/view?usp=sharing) with scores from playoff games in 2016.

In [82]:
playoff_games = pd.read_csv("nba_playoff_games.csv", sep=";")
playoff_games.head(3)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42015,1610612739,CLE,Cleveland Cavaliers,41500407,2016-06-19,CLE @ GSW,W,241,93,33,82,0.402,6,25,0.240,21,25,0.840,9,39,48,17,7,6,11,15,4.0
1,42015,1610612744,GSW,Golden State Warriors,41500407,2016-06-19,GSW vs. CLE,L,239,89,32,83,0.386,15,41,0.366,10,13,0.769,7,32,39,22,7,5,10,23,-4.0
2,42015,1610612744,GSW,Golden State Warriors,41500406,2016-06-16,GSW @ CLE,L,238,101,33,82,0.402,15,39,0.385,20,29,0.690,9,26,35,19,5,3,14,25,-14.0

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.

In [83]:
raptors_games = nba_games_2015[nba_games_2015["TEAM_ABBREVIATION"].eq("TOR")]
raptors_playoff_games = playoff_games[playoff_games["TEAM_ABBREVIATION"].eq("TOR")]
raptors_games.head(2)
raptors_playoff_games.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
9,22015,1610612761,TOR,Toronto Raptors,21501218,2016-04-13,TOR @ BKN,W,241,103,41,93,0.441,13,37,0.351,8,15,0.533,16,41,57,24,5,10,9,12,7.0
28,22015,1610612761,TOR,Toronto Raptors,21501214,2016-04-12,TOR vs. PHI,W,239,122,48,95,0.505,10,25,0.400,16,19,0.842,16,36,52,25,11,5,13,20,24.0

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
19,42015,1610612761,TOR,Toronto Raptors,41500306,2016-05-27,TOR vs. CLE,L,240,87,33,79,0.418,8,25,0.320,13,17,0.765,7,26,33,10,6,2,12,19,-26.0
22,42015,1610612761,TOR,Toronto Raptors,41500305,2016-05-25,TOR @ CLE,L,239,78,27,69,0.391,3,17,0.176,21,35,0.600,5,22,27,19,9,3,18,25,-38.0

In [87]:
raptors_games["BLK"].shape[0]
raptors_playoff_games["BLK"].shape[0]

82

20

In [90]:
st.ttest_ind(raptors_games["BLK"], raptors_playoff_games["BLK"], equal_var=False)

Ttest_indResult(statistic=3.500438136870473, pvalue=0.0011403514552816168)

NOT from the same distribution


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

### Use a one-way ANOVA test (`st.f_oneway`)

In [94]:
cle_games_2013 = nba_games_2013[nba_games_2013["TEAM_ABBREVIATION"].eq("CLE")]
cle_games_2014 = nba_games_2014[nba_games_2014["TEAM_ABBREVIATION"].eq("CLE")]
cle_games_2015 = nba_games_2014[nba_games_2014["TEAM_ABBREVIATION"].eq("CLE")]

cle_games_2013.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
4947,22013,1610612739,CLE,Cleveland Cavaliers,21301224,2014-04-16,CLE vs. BKN,W,239,114,46,87,0.529,8,20,0.400,14,17,0.824,13,38,51,32,10,7,12,18,29.0
4992,22013,1610612739,CLE,Cleveland Cavaliers,21301193,2014-04-12,CLE vs. BOS,L,239,99,37,90,0.411,5,18,0.278,20,30,0.667,15,34,49,22,2,2,11,20,-12.0

In [99]:
# checking for equal std of the groups.
# This is one of the assumptions of the one-way ANOVA test
cle_games_2013["PTS"].std()
cle_games_2014["PTS"].std()
cle_games_2015["PTS"].std()

12.388788629633082

12.694669042624803

12.694669042624803

In [96]:
st.f_oneway(cle_games_2013["PTS"], cle_games_2014["PTS"], cle_games_2015["PTS"])

F_onewayResult(statistic=4.162744137565715, pvalue=0.016688728242977246)

Strong evidence against the null hypothesis.

points scored are not equally distributed between the 3 seasons

In [100]:
cle_games_2013["PTS"].mean()
cle_games_2014["PTS"].mean()
cle_games_2015["PTS"].mean()

98.21951219512195

103.13414634146342

103.13414634146342

The 2013 season is the difference here

In [93]:
help(st.f_oneway)

Help on function f_oneway in module scipy.stats.stats:

f_oneway(*args, axis=0)
    Perform one-way ANOVA.

    The one-way ANOVA tests the null hypothesis that two or more groups have
    the same population mean.  The test is applied to samples from two or
    more groups, possibly with differing sizes.

    Parameters
    ----------
    sample1, sample2, ... : array_like
        The sample measurements for each group.  There must be at least
        two arguments.  If the arrays are multidimensional, then all the
        dimensions of the array must be the same except for `axis`.
    axis : int, optional
        Axis of the input arrays along which the test is applied.
        Default is 0.

    Returns
    -------
    statistic : float
        The computed F statistic of the test.
    pvalue : float
        The associated p-value from the F distribution.

    Warns
    -----
    F_onewayConstantInputWarning
        Raised if each of the input arrays is constant array.
        In this case the F statistic is either infinite or isn't defined,
        so ``np.inf`` or ``np.nan`` is returned.

    F_onewayBadInputSizesWarning
        Raised if the length of any input array is 0, or if all the input
        arrays have length 1.  ``np.nan`` is returned for the F statistic
        and the p-value in these cases.

    Notes
    -----
    The ANOVA test has important assumptions that must be satisfied in order
    for the associated p-value to be valid.

    1. The samples are independent.
    2. Each sample is from a normally distributed population.
    3. The population standard deviations of the groups are all equal.  This
       property is known as homoscedasticity.

    If these assumptions are not true for a given set of data, it may still
    be possible to use the Kruskal-Wallis H-test (`scipy.stats.kruskal`)
    although with some loss of power.

    The length of each group must be at least one, and there must be at
    least one group with length greater than one.  If these conditions
    are not satisfied, a warning is generated and (``np.nan``, ``np.nan``)
    is returned.

    If each group contains constant values, and there exist at least two
    groups with different values, the function generates a warning and
    returns (``np.inf``, 0).

    If all values in all groups are the same, function generates a warning
    and returns (``np.nan``, ``np.nan``).

    The algorithm is from Heiman [2]_, pp.394-7.

    References
    ----------
    .. [1] R. Lowry, "Concepts and Applications of Inferential Statistics",
           Chapter 14, 2014, http://vassarstats.net/textbook/

    .. [2] G.W. Heiman, "Understanding research methods and statistics: An
           integrated introduction for psychology", Houghton, Mifflin and
           Company, 2001.

    .. [3] G.H. McDonald, "Handbook of Biological Statistics", One-way ANOVA.
           http://www.biostathandbook.com/onewayanova.html

    Examples
    --------
    >>> from scipy.stats import f_oneway

    Here are some data [3]_ on a shell measurement (the length of the anterior
    adductor muscle scar, standardized by dividing by length) in the mussel
    Mytilus trossulus from five locations: Tillamook, Oregon; Newport, Oregon;
    Petersburg, Alaska; Magadan, Russia; and Tvarminne, Finland, taken from a
    much larger data set used in McDonald et al. (1991).

    >>> tillamook = [0.0571, 0.0813, 0.0831, 0.0976, 0.0817, 0.0859, 0.0735,
    ...              0.0659, 0.0923, 0.0836]
    >>> newport = [0.0873, 0.0662, 0.0672, 0.0819, 0.0749, 0.0649, 0.0835,
    ...            0.0725]
    >>> petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
    >>> magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
    ...            0.0689]
    >>> tvarminne = [0.0703, 0.1026, 0.0956, 0.0973, 0.1039, 0.1045]
    >>> f_oneway(tillamook, newport, petersburg, magadan, tvarminne)
    F_onewayResult(statistic=7.121019471642447, pvalue=0.0002812242314534544)

    `f_oneway` accepts multidimensional input arrays.  When the inputs
    are multidimensional and `axis` is not given, the test is performed
    along the first axis of the input arrays.  For the following data, the
    test is performed three times, once for each column.

    >>> a = np.array([[9.87, 9.03, 6.81],
    ...               [7.18, 8.35, 7.00],
    ...               [8.39, 7.58, 7.68],
    ...               [7.45, 6.33, 9.35],
    ...               [6.41, 7.10, 9.33],
    ...               [8.00, 8.24, 8.44]])
    >>> b = np.array([[6.35, 7.30, 7.16],
    ...               [6.65, 6.68, 7.63],
    ...               [5.72, 7.73, 6.72],
    ...               [7.01, 9.19, 7.41],
    ...               [7.75, 7.87, 8.30],
    ...               [6.90, 7.97, 6.97]])
    >>> c = np.array([[3.31, 8.77, 1.01],
    ...               [8.25, 3.24, 3.62],
    ...               [6.32, 8.81, 5.19],
    ...               [7.48, 8.83, 8.91],
    ...               [8.59, 6.01, 6.07],
    ...               [3.07, 9.72, 7.48]])
    >>> F, p = f_oneway(a, b, c)
    >>> F
    array([1.75676344, 0.03701228, 3.76439349])
    >>> p
    array([0.20630784, 0.96375203, 0.04733157])

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.