In [1]:
import numpy as np
import pandas as pd
import os
import sqlite3
from sqlite3 import Error
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection
connection = create_connection('/Users/craiglynch/Desktop/Lighthouse_Labs/data_bootcamp/w2/d5/assessment-exam-student-python/supporting_files/hr.db')
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")
select_employees = "SELECT first_name,last_name,salary FROM employees"
employees = execute_read_query(connection, select_employees)
employees = pd.DataFrame(employees)
employees['PF'] = 'x'
SQL = employees.set_axis(['First','Last', 'Salary', 'PF'], axis=1, inplace=False)
SQL['PF'] = SQL['Salary']*.12
SQL['Name'] = 'x'
SQL['Name'] = SQL['First'] + ' ' + SQL['Last']
SQL = SQL.drop(columns=['First','Last'])
SQL = SQL.reindex(columns=['Name', 'Salary', 'PF'])
SQL

The error 'unable to open database file' occurred

AttributeError: 'NoneType' object has no attribute 'cursor'